html, body {
  margin: 0;
  height: 100%;

  background: rgb(0,43,54);
  color: #93A1A1;
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  font-size: 12px;
}


#editors {
  display: table;
  height: 50%;
  width: 100%;
}


#editors > div {
  display: table-row;
}


#grammar, #input {
  display: table-cell;
}


#tree {
  height: 50%;
  width: 100%;

  overflow: scroll;
  text-align: center;
}


#tree div {
  display: inline-block;
}


#tree.error {
  opacity: 0.5;
}


#tree ul {
  list-style: none;
  padding-left: 1.5em;
  text-align: left;
}


#tree a.token {
  color: rgb(211, 54, 130);
}