html, body {
  margin: 0;
  height: 100%;

  background: rgb(0,43,54);
  color: white;
  font-family: Helvetica, sans-serif;
}


#editors {
  display: table;
  height: 50%;
  width: 100%;
}


#editors > div {
  display: table-row;
}


#grammar, #input {
  display: table-cell;
}


#tree {
  height: 50%;
  width: 100%;

  overflow: scroll;
}


#tree ul {
}


#tree a.token {
  color: red;
}